/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
:root {
	/* --main: #E1F0DA;
	--second: #D4E7C5;
	--third: #BFD8AF;
	--fourth: #99BC85; 
	--text: #0F0F0F;
	--shadow: #272727;
	--sb-track-color: #0F0F0F;
  --sb-thumb-color: #272727;
  --sb-size: 20px; */
	/* --main: #292929;
	--second: #3C4042;
	--third: #606368;
	--fourth: #6200EE;
	--text: #FFFFFF;
	--text-second: #0F0F0F;
	--shadow: #F3F3F3;
	--sb-track-color: #0F0F0F;
  --sb-thumb-color: #272727;
  --sb-size: 20px; */
	--main: #191919;
	--second: #292929;
	--third: #3C4042;
	--fourth: #6200EE;
	--text: #FFFFFF;
	--text-second: #0F0F0F;
	--shadow: #F3F3F3;
	--sb-track-color: #0F0F0F;
  --sb-thumb-color: #272727;
  --sb-size: 20px;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
* {
	box-sizing: border-box;
}

body {
	background-color: var(--main);
	color: var(--text);
	font-family: "JetBrains Mono", monospace;
	line-height: normal;
	font-weight: normal;
	font-style: normal;
	font-size: 1rem;
}

#root, body {
	overflow: hidden;
}

@keyframes rgb {
	0% {background-position: 0% 50%;}
	50% {background-position: 100% 50%;}
	100% {background-position: 0% 50%;}
}

.rgb-bg, .rgb-bg::before {
	animation: rgb 6s linear infinite;
	background: linear-gradient(45deg,
  #ff0000 0%, 
  #ff9a00 10%,
  #d0de21 20%,
  #4fdc4a 30%, 
  #3fdad8 40%,
  #2fc9e2 50%, 
  #1c7fee 60%, 
  #5f15f2 70%, 
  #ba0cf8 80%, 
  #fb07d9 90%, 
  #ff0000 100%  )
  repeat 0% 0% / 300% 100%;
}

::-webkit-scrollbar {
  width: var(--sb-size)
}

::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 5px;
}

@supports not selector(::-webkit-scrollbar) {
  * {
    scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
  }
}